<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    <style>
        .error{color: red;}
    </style>
    <title> User Signup</title>
</head>
<body>
    <div class="signup">
    <h1>Signup</h1>
    <form action="/signup" id="form" method="POST">
        <label for="username"> Username </label>
            <input type=text name="username" id="username" minlength="3" maxlength="20" required value="{{username}}"/>
            <p class=error> {{username_error}} </p> <br>
        <label for="password">Password</label>
            <input type="password" name="password" id="password" minlength="3" maxlength="20" required value="{{password}}"/> 
            <p class=error>{{password_error}} </p><br>
        <label for="password2">Verify Password</label>
            <input type="password" name="password2" id="password2" minlength="3" maxlength="20" required value="{{password2}}"/> 
            <p class=error>{{password2_error}}</p><br>
        <label for="email">Email (Optional)</label>
            <input type="text" name="email" id="email"  minlength="3" maxlength="20" value="{{email}}"/>
            <p class=error>{{email_error}}</p> <br>
        <label for=submit>Submit</label>
            <input type="submit" name="submit" id="submit">
        </div>
        
    </form>
    
</body>
</html>